{% extends 'base.html'%}
{% load static %}

{% block templatecontent %}

<style>
  .main-wrapper .resume-container {
    max-width: 820px;
  }

  div.r-header {
    display: flex;
    flex-direction: column;
  }

  div.r-header .name-role {
    margin-bottom:10px;
  }

  div.r-header .name-role .my-name {
    flex: 5;
    color: var(--bs-primary);
    font-weight: 900;
    font-size: 1.4rem;
  }

  .r-header .my-role {
    font-size: 1.25em;
    font-weight: 300;
    color: #4f4f4f;
  }

  div.r-header .address-contact {
    flex: 1;
    font-size: 0.75rem;    
  }

  div.main-content {
    width: 900px;
    margin:0px auto ;
  }

  .co-name {
    font-size: 1rem;
    text-decoration: underline;
  }

  .skills span.skill {
    background-color: #EEE;
    border: 1px solid #999;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
  }

  .experience .exp_list {
    padding: 0px;
    list-style: none;
  }

  .content .role {
    font-weight: 600;
    font-size: 1rem;
  }  

  .experience > ul > li  {
    height: auto;
    margin-bottom: 25px;
  }

  .duty-list {
    list-style: square;
    padding-top: 10px;
    padding-left: 13px;
  }

  .experience-detail {
    display: flex;
    flex-flow: column-reverse;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
  }

  .experience-detail .org-picture img{
    max-width: 200px;
    margin-bottom: 10px;
  }

  .educ .org-picture img {
    max-width: 120px;
  }

  div.exp-item {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }

  .educ .former{
    font-size: 0.6rem;
    font-style: italic;
    font-weight:500;
    color: #666;
    text-decoration: none;
  }


  .experience-detail .year {
    display:none;
  }

  .experience-detail .co-website, .school-addr {
    font-size: 0.8rem;
    display: block;
  }
  
  
  .left-col-year .content {
    padding-top: 1px;
  }

  .resume-container h3 {
    color: var(--bs-primary);
    font-size: 1.125rem ;
  }

  .skill-container {
    margin-bottom: 20px;
  }

  .skillname , .technologies-used div.tech-name{
    background-color: #dfe1ed;
    color: #666 ;
    padding: 2px 4px;
    border: solid 1px #CCC;
    display: inline-block;
    line-height: 1.5rem;
    margin: 0px 4px 4px 0px;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  .address-contact .contact-detail {
    margin-bottom: 5px;
  }

  .technologies-used {
    margin-top: 16px;
  }

  .technologies-used div.tech-name {
    font-size: 0.6rem;
    padding: 2px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0px 6px 6px 0px;
    background-color: #eee;
    cursor: default;
  }

  @media(max-width: 1199px) {
    .left-col-year{
      display: none;
    }

    .experience-detail .year {
      display:block;
      color: #666;
      font-style: italic;
      font-size: 0.8rem;
    }
  }

  @media(min-width: 768px) {
   
    div.r-header .name-role .my-name {
      font-size: 1.75rem;
      font-weight: 900;
    }

    div.r-header {      
      display: flex;
      flex-direction: row;
      height: 100px;
    }

    div.r-header .name-role {
      flex: 5;
    }    

    div.r-header .address-contact {
      flex: 2;
      border-left: 1px solid #CCC;
      padding-left: 10px;
      padding-top: 16px;
    }
  }

  @media(min-width: 992px){

    .main-wrapper .resume-container {
      max-width: 900px;
    }

    div.r-header .name-role {
      flex: 4;
    }

    div.r-header .address-contact {
      flex: 2;
    }

    .experience-detail {
      display: flex;
      flex-flow: row;
    }

    .experience-detail .content  {
      flex:5;
      padding-right: 20px;

    }
    .experience-detail .org-picture {
      flex:1;
      max-width: 100%;
    }  
  }

  @media(min-width: 1200px){

    div.r-header .name-role .my-name {
      flex: 5;
      color: var(--bs-primary);
      font-size: 2.5rem;
      font-weight: 900;
      letter-spacing: 0.1rem;    
    }

    div.r-header .name-role {
      flex: 7;
    }

    div.r-header .address-contact {
      flex: 2;
    }

    div.exp-item {
      flex-direction: row;
    }

    .experience .year {
      flex : 2;
    }

    .experience-detail {
      flex: 11 ;
    }

    .main-wrapper .resume-container {
      max-width: 1140px;
    }

    .experience-detail {
      display: flex;
      flex-flow: row;
    }

    .experience-detail .content  {
      flex:5;
      padding-right: 20px;

    }
    .experience-detail .org-picture {
      flex:1
    }

    .experience-detail .org-picture img{
      max-width: 100%;
    }
  }

</style>


<div class="container resume-container">
  <article class="blog-post p-5 mb-5 my-3 shadow-lg">
    
    <div class="r-header">
      <div class="name-role">
        <div class="my-name">VINCENT BARILEA AGUDELO</div>
        <div class="my-role">Web Developer</div>
      </div>
      <div class="address-contact">        
        <div class="email contact-detail"><i class="fas fa-envelope-square fa-fw fa-lg me-2" aria-hidden="true"></i>contact@kirbyonweb.dev</div>
        <div class="address contact-detail"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2" aria-hidden="true"></i>Makati City, Philippines</div>
        <div class="linkedin-acct contact-detail"><i class="fab fa-linkedin fa-fw fa-lg me-2" aria-hidden="true"></i><a href="https://www.linkedin.com/in/vincent-agudelo/" title="https://www.linkedin.com/in/vincent-agudelo/">Vincent Agudelo</a></div>
      </div>
    </div> 
    <hr>
  
    <div class="skill-container">
      <h3>SKILLS</h3>
      {% for skill in skills_list %}<div class="skillname">{{skill}}</div>{% endfor %}
    </div>
    

    <div class="experience">
      <h3>WORK EXPERIENCE</h3>
      <ul class="exp_list">
        {% for exp in exp_data %}
        <li>
          <div class="exp-item">
            <div class="year left-col-year">
              <div class="content">{{exp.year}}</div>
            </div>
            <div class="experience-detail">
              <div class="content">
                <span class="role">{{exp.detail.role}}</span>
                <div class="organization">
                  <span class="co-name">{{exp.detail.organization}}</span>
                  {% if exp.detail.website %}                  
                  <span class="co-website"><a href="{{exp.detail.website}}" target="_blank">{{exp.detail.website}}</a></span>
                  {% endif %}
                </div>
                <div class="year">
                  <div class="content">{{exp.year}}</div>
                </div>
                <div class="duties">
                  <ul class="duty-list">
                    {% for d in exp.detail.duties %}
                    <li>
                      {{d}}
                    </li>
                    {% endfor%}  
                  </ul>
                </div>
                {% if exp.detail.tech %}
                <div class="technologies-used">
                  {% for tech in exp.detail.tech %}<div class="tech-name" title="{{tech}}">{{tech}}</div>{% endfor%}
                </div>
                {% endif %}
              </div>
              <div class="org-picture">
                {% if exp.detail.org_picture %}
                <img src="{% static 'assets/images/resume-images/'|add:exp.detail.org_picture %}" alt="">
                {% endif %}
              </div>
            </div>
            
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="educ experience">
      <h3>EDUCATION</h3>
      <ul class="exp_list">
        <li>
          <div class="exp-item">
            <div class="year left-col-year">
              <div class="content">06/1998 - 10/2003</div>
            </div>
            <div class="experience-detail">
              <div class="content">
                <span class="role">Bachelor of Science in Computer Engineering</span>
                <div class="organization">
                  <span class="co-name">Map&uacute;a University</span> <span class="former">(formerly Map&uacute;a Institute of Technology)</span>
                  <span class="school-addr">Intramuros Manila, Philippines</span>
                  <span class="co-website"><a href="https://www.mapua.edu.ph/" target="_blank">https://www.mapua.edu.ph/</a></span>
                </div>
                <div class="year">
                  <div class="content">1998 - 2003</div>
                </div>
              </div>
              <div class="org-picture">
                <img src="{% static 'assets/images/resume-images/mapua-logo.svg' %}">
              </div>
            </div>
            
          </div>
        </li>
      </ul>
    </div>
  </article>
</div>
{% endblock %}
